

.pageBackground {
    height: 100vh;
    padding-top: 10px;
    background-image: url('../images/pexels-cottonbro-studio-5532665.jpg');
    background-size: contain;       
}

.titleContainer {
    margin: 0 auto;
}

.navContainer {
    margin: 0 auto;
    display: block;
    margin-top: -6.5vh;
}

.appTitle {
    width: 50%;
    text-align: center;
    margin: 10px auto 0 auto;
    background-color: #96858F;
    opacity: .85;
    color: white;
    text-shadow: 1px 1px black;
    border: 1px solid black;
    padding: 10px;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 5px;
}

.navButton {
    display: inline-block;
    min-width: 10vw;
    text-align: center;
    background-color: #96858F;
    opacity: .85;
    color: white;
    text-shadow: 1px 1px black;
    border: 1px solid black;
    padding: 10px;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 5px;
    text-decoration: none;
    padding-left: 1vw;
    padding-right: 1vw;
}

.leftButton {
    margin-left: 2vw;
}

.rightButton {
    /* position: absolute;
    right: 2vw; */
    float: right;
    margin-right: 2vw;
}

.appExplanation {
    color: white;
    border: 1px solid black;
    margin: 50px auto 0 auto;
    text-align: center;
    background-color: #579bb1;
    padding: 0 20px 10px 20px;
    width: 50%;
    height: 20%;
    min-height: 200px;
    border-radius: 5px;
    text-shadow: 1px 1px black;
    opacity: .9;
}

.mainMenu {
    color: white;
    border: 1px solid black;
    margin: 50px auto 0 auto;
    text-align: center;
    background-color: #579bb1;
    padding: 0 20px 10px 20px;
    width: 50%;
    height: 20%;
    min-height: 200px;
    border-radius: 5px;
    text-shadow: 1px 1px black;
    opacity: .9;
    display: flex;
    flex-flow: column;  
}

.menuButton {
    min-width: 5vw;
    text-align: center;
    background-color: #96858F;
    opacity: .85;
    color: white;
    text-shadow: 1px 1px black;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    font-weight: 700;
    font-size: 1.25rem;
    border-radius: 5px;
    text-decoration: none;
    padding-left: 1vw;
    padding-right: 1vw;
}

.createUser {
    display: block;
    color: white;
    border: 1px solid black;
    margin: 50px auto 0 auto;
    text-align: center;
    background-color: #579bb1;
    padding: 0 20px 10px 20px;
    width: 50%;
    height: 20%;
    min-height: 200px;
    border-radius: 5px;
    text-shadow: 1px 1px black;
    opacity: .9;
}

.formInput {
    display: block;
    padding-bottom: 10px;
}

.createUserLabel {
    display: inline-block;
    width: 80px;
    text-align: right;
}

.createUserInput {
    border: 1px solid black;
    border-radius: 3px;
    width: 50%;
}

.createUserButton {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.createNoteForm {
    display: flex;
    flex-flow: column;
}

.createNoteLabel {
    display: inline-block;
    width: 8vw;
    text-align: right;
    vertical-align: top;
}

.createNoteButton {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    min-width: 10vw;
    margin: 0 auto;
}

.containerContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.displayItem {
    display: block;
}

.drinkImage {
    max-height: 200px;
}

.viewNoteButton {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    min-width: 10vw;
    margin: 10px 5px 10px 5px;

}

.containerContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.drinkContainer {
    color: white;
    border: 1px solid gold;
    margin: 5px;
    text-align: center;
    background-color: #9099A2;
    padding: 0;
    width: 20%;
    height: 20%;
    min-width: 350px;
    height: 550px;
    border-radius: 5px;
    text-shadow: 1px 1px black;
    opacity: .95;
  }

.oneDrinkCard {
    display: block;
    color: white;
    border: 1px solid black;
    margin: 50px auto 0 auto;
    text-align: center;
    background-color: #579bb1;
    padding: 0 20px 10px 20px;
    width: 50%;
    height: 20%;
    min-height: 200px;
    border-radius: 5px;
    text-shadow: 1px 1px black;
    opacity: .9;
}

.drinkCard {
    color: white;
    border: 1px solid gold;
    margin: 5px;
    text-align: center;
    background-color: #9099A2;
    padding: 0;
    width: 20%;
    height: 20%;
    min-width: 350px;
    height: 550px;
    border-radius: 5px;
    text-shadow: 1px 1px black;
    opacity: .95;
}

.drinkCardImage {
    max-width: 250px;
    height: 350px;
    /* width: auto;
    height: auto; */
    padding: 0;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.createUserInput {
    font-family: arial;
}

@media only screen and (max-width: 600px) {
    .navButton {
        margin-top: 8vh;
    }
    .navContainer {
        width: 50%;        
    }
  }